Carboard.egg-info/
/.idea/*
/.coverage
.eggs/
.idea/
*TODO.md
*/__pycache__/
/Carboard2.0.egg-info/
src/sensors/__pycache__/
src/Chartboard/__pycache__/
src/Chartboard/app/__pycache__/
src/Chartboard/app/views/__pycache__/
src/Chartboard/db.sqlite3
src/Chartboard/templates/__pycache__/
src/Chartboard/webserver/__pycache__/
src/Chartboard/app/Config/dev_properties.json
/src/Chartboard/app/Config/tmp/
/src/Chartboard/templates/tmplinear.html
Carboard2.0.egg-info/
*.pyc
*.swp
/coverage_html_report/
/src/Chartboard/templates/videoworking.html
/src/Chartboard/templates/tmplinear_radial.html
TODO
