redis==5.0.1
asgiref==3.7.2
django_prometheus==2.3.1
django==5.0
django-cors-headers==4.3.1
PyYAML==6.0.1
channels_redis==4.1.0
channels==4.0.0
whitenoise==6.6.0

# Sensors
lorem==0.1.1

requests==2.31.0
apscheduler==3.10.4

# Unit-Tests remove on prod
pytest-asyncio==0.23.2
pytest-django==4.8.0
pytest==7.4.3

