
#### pyup-update-djangodjango=
PyYAML
redis==5.1.1
channels_redis

channels==4.1.0
whitenoise==6.7.0

asgiref==3.8.1
pyup-pin-requests-2.32.3


apschedul
pyup-pin-requests-2.32.3
requests
zzzzÂÂÂ

lorem==0.1.1

twisted>=23.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
