asgiref==3.8.1
redis==5.0.6
django_prometheus==2.3.1
django==5.0.6
django-cors-headers==4.4.0
PyYAML==6.0.1
channels_redis==4.2.0
channels==4.1.0
whitenoise==6.7.0

# Sensors
lorem==0.1.1

requests==2.32.3
apscheduler==3.10.4

pytest==8.2.2
pytest-asyncio==0.23.7
pytest-django==4.8.0