redis==5.0.1
asgiref==3.7.2
django_prometheus==2.3.1
django-cors-headers==4.3.0
django-cors-headers==4.3.0
django==4.2.4
PyYAML==6.0.1
channels_redis==4.1.0
channels==4.0.0
whitenoise==6.6.0

# Sensors
lorem==0.1.1

requests==2.31.0
apscheduler==3.10.4

# Unit-Tests remove on prod
pytest-django==4.5.2
pytest-asyncio==0.21.1
pytest==7.4.2

